<!DOCTYPE html>

<html lang='en'>

<head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width initial-scale=1">
    <title> Travel Weather App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <!-- <img id="logo" src="../media/logo.png"> -->
                <img id="logo">
                <h1>Traveldeft</h1>
            </div>
            <div class="nav-bar">
                <ul class="nav-list">
                    <li> <a href="#Home"> Home </a></li>
                    <li> <a href="#Destinations"> Destinations </a></li>
                    <li> <a href="#Bookings"> Bookings </a></li>
                    <li> <a href="#ContactUs"> Contact Us </a></li>
                </ul>
            </div>
        </header>
        <main>
            <h1> Travel Planner </h1>
            <div class="dest-profile ">
                <div class="dest-imag">
                    <!-- <img id="dest-imag" src="../media/Paris.jpeg"> -->
                    <img id="dest-imag">
                </div>
                <div class="dest-info">
                    <p id="destination"> Trip: </p>
                    <p id="departure-day"> <b>Departing:</b></p>
                    <p id="returnDate"></p>
                    <div class="trip-Buttons">
                        <button id="svTrip">save trip</button>
                        <button id="rmTrip">remove trip</button>
                    </div>
                    <p id="days-away"> Paris is 220 days away!</p>
                    <p id="weather"> Typical weather for then is: </p>
                    <p id="temp" class="small-font"> Hot </p>
                    <p id="comment" class="small-font">Mostly 30&#8451</p>
                </div>
            </div>

            <form class="input-holder">
                <label for="country">Destination country: (required)</label><input type="text" id="country"
                    placeholder="Washington" required>
                <label for="date">Departure date:</label><input type="text" id="date" placeholder="Date" type="date"
                    onfocus="(this.type='date')" onblur="(this.type='text')">
                <label for="date">Return date:</label><input type="text" id="rDate" placeholder="Date" type="date"
                    onfocus="(this.type='date')" onblur="(this.type='text')">
                <input type="submit" name="" value="Get weather information">
            </form>
        </main>
    </div>
</body>
<!-- <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script> -->

</html>