<!DOCTYPE html>

<html lang='en'>

<head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width initial-scale=1">
    <title> Travel Weather App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <img id="logo" src="../media/logo.png">
                <h1>Traveldeft</h1>
            </div>
            <div class="nav-bar">
                <ul class="nav-list">
                    <li> <a href="#Home"> Home </a></li>
                    <li> <a href="#Destinations"> Destinations </a></li>
                    <li> <a href="#Bookings"> Bookings </a></li>
                    <li> <a href="#ContactUs"> Contact Us </a></li>
                </ul>
            </div>
        </header>
        <main>
            <h1> Travel Planner </h1>
            <div class="holder zip">
                <label for="zip">Destination country:</label>
                <input type="text" id="country" placeholder="Destination country">
            </div>
            <div class="holder date">
                <label for="date">Departure date:</label>
                <input type="date" id="date" placeholder="Date" type="text" onfocus="(this.type='date')"
                    onblur="(this.type='text')">
            </div>
            <div class="dest-profile">
                <div class="dest-imag">
                    <img id="dest-imag" src="../media/Paris.jpeg">
                </div>
                <div class="dest-info">
                    <p> <b>Trip:</b> </p>
                    <p> <b>Departing:</b></p>
                    <div class="trip-Buttons">
                        <button id="svTrip">save trip</button>
                        <button id="rmTrip">remove trip</button>
                    </div>
                    <p> Paris is 220 days away !</p>
                    <p> Typical weather for then is: </p>
                </div>
            </div>
        </main>
    </div>
</body>

</html>