/* header {
   
} */

.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 2% 0;
    background-image: linear-gradient(to right, blue, pink);
    // grid-column: 1/3;
    height: 50%;
    width: 100%;
    font-size: 1em;
}

.logo {
    display: flex;
    flex-flow: row wrap;
    justify-content:left;
    align-items: center;
    text-align: center;
    width: 25%;
}

.logo img{
    width: 10%;
    height: auto;
    margin-right: 5%;
}

.nav-bar {
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: right;
    width: 70%;
}

// ul {
//     float: left;
// }

// ul li {
//     display: inline;
// }

// li a {
//     text-decoration: none;
//     width: 100%;
// }

// li a:hover {
//     background-color: green;
//     columns: white;
// }

// li a.active {
//     background-color: greenyellow;
//     color: grey;
// }

.nav-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    overflow: hidden;
}

ul li {
    // float: left;
}

a {
    display: block;
    padding: 5px;   
    font-size: 0.8em;
    text-decoration: none;
    // background-color: #dddddd;
  }

  @media only screen and (max-width: 1000px) {
    a {
        padding: 3px;   
        font-size: 0.5em;
    }
}